
  <div class="breadcrumbs">
    <div class="wrapper">
      {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
      <a rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

      {% for crumb in crumbs offset: 1 %} {% if forloop.last %} / {{ page.title }}
      {% else %} /
      <a
        href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}"
      >
        {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
      </a>
      {% endif %} {% endfor %}
    </div>
  </div>

<style>
  .breadcrumbs {
    color: rgb(from canvastext r g b / 38%);
    font-size: small;
    width: 100%;
    border-bottom: 1px solid rgb(from canvastext r g b / 6%);
    padding: 0.5rem 0;;
  }
</style>
