@font-face {
  font-family: 'EB Garamond';
  src: url('font/EBGaramond-Regular.woff2') format('woff2'),
    url('font/EBGaramond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  size-adjust: 112%;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('font/EBGaramond-Italic.woff2') format('woff2'),
    url('font/EBGaramond-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
  size-adjust: 112%;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('font/EBGaramond-Bold.woff2') format('woff2'),
    url('font/EBGaramond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
  size-adjust: 112%;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('font/EBGaramond-BoldItalic.woff2') format('woff2'),
    url('font/EBGaramond-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
  size-adjust: 112%;
}