:root {
  color-scheme: light dark;

  --tint: darkolivegreen;

  --base-light: hsl(from var(--tint) h calc(s - 2) l);
  --base-dark: hsl(from var(--tint) h calc(s - 22) calc(l + 6));

  --base: light-dark(var(--base-light), var(--base-dark));

  --bg-light: hsl(from var(--base) h calc(s - 28) calc(l + 54));
  --bg-dark: hsl(from var(--base) h calc(s - 30) calc(l - 31));

  --fg-light: hsl(from var(--base) h s calc(l - 16));
  --fg-dark: hsl(from var(--base) h calc(s - 14) calc(l + 42));

  --accent-light: hsl(from var(--base) h s calc(l));
  --accent-dark: hsl(from var(--base) h s calc(l + 8));

  --border-light: hsl(from var(--base) h calc(s - 18) calc(l + 36));
  --border-dark: hsl(from var(--base) h calc(s - 14) calc(l - 14));

  --bullet-light: hsl(from var(--base) h calc(s - 16) calc(l + 30));
  --bullet-dark: hsl(from var(--base) h calc(s - 14) calc(l - 8));

  --brite-light: hsl(from var(--base) h s calc(l - 18));
  --brite-dark: hsl(from var(--base) h calc(s - 14) calc(l + 44));

  --tag-light: hsl(from var(--base) h calc(s - 24) calc(l + 18));
  --tag-dark: hsl(from var(--base) h calc(s - 10) calc(l - 4));

  --bg: light-dark(var(--bg-light), var(--bg-dark));
  --fg: light-dark(var(--fg-light), var(--fg-dark));

  --accent: light-dark(var(--accent-light), var(--accent-dark));
  --border: light-dark(var(--border-light), var(--border-dark));
  --bullet: light-dark(var(--bullet-light), var(--bullet-dark));
  --brite: light-dark(var(--brite-light), var(--brite-dark));
  --tag: light-dark(var(--tag-light), var(--tag-dark));
}

html {
  color: var(--fg);
  background: var(--bg);
  /* font-family: ia-writer-quattro; */
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 16.6px;
  /* font-family: monospace; */
}

body {
  margin: 2rem auto;
  max-width: 30rem;
}

@media (max-width: 768px) {
  html {
    font-size: 18px;
  }

  body {
    margin: 1rem;
  }
}

h1::before {
  content: "_";
}

hr {
  border: none;
  color: currentColor;
  color: var(--bullet);
  margin-top: 1.616rem;
  text-align: center;
}

hr+h1, hr+h2, hr+h3 {
  margin-top: 1.616rem;
}

main h1:first-child {
  margin-top: 1.616rem;
}

/* hr::before {
  content: "\2013  \2013  \2013";
} */

hr::before {
  content: "\2022  \2022  \2022";
  font-size: 0.72em;
}

a {
  color: currentColor;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

/* 82, 39%, 30% */

h1, h2, h3, h4, h5, h6, strong {
  color: var(--brite);
}

a {
  color: var(--accent);
}

a:hover {
  color: currentColor;
}

/* hr {
  color: var(--border);
} */