:root {
  color-scheme: light dark;

  --base: mintcream;

  --bg-l: color-mix(in srgb, var(--base), black 6%);
  --bg-d: color-mix(in srgb, black, var(--base) 6%);
  --bg: light-dark(var(--bg-l), var(--bg-d));

  --fg-l: color-mix(in srgb, var(--bg-d), var(--bg-l) 6%);
  --fg-d: color-mix(in srgb, var(--bg-l), var(--bg-d) 8%);
  --fg: light-dark(var(--fg-l), var(--fg-d));

  --dim-l: color-mix(in srgb, var(--fg), var(--base) 38%);
  --dim-d: color-mix(in srgb, var(--bg), var(--base) 48%);
  --dim: light-dark(var(--dim-l), var(--dim-d));

  --accent: var(--dim);
  --visited: var(--fg);

  --txt-sm: 0.86rem;

  --sans: ia-writer-quattro, sans-serif;
  --mono: ia-writer-mono, monospace;
}

* {
  font-size: inherit;
  font-family: inherit;
}

html {
  font-size: 16px;
  font-family: var(--sans);
  background: var(--bg);
  color: var(--fg);
  line-height: 1.5;
}

body {
  margin: unset;
}

header, footer {
  margin: 1rem;
  font-size: var(--txt-sm);
  font-family: var(--mono);
  color: var(--dim);
}

header:before {
  content: '<header:';
  color: var(--dim);
}

header nav {
  display: inline-block;
}

header a:link, header a:visited {
  color: var(--dim);
}

footer:before {
  content: '> <footer:';
  font-family: var(--mono);
  color: var(--dim);
}

footer:after {
  content: '>';
  color: var(--dim);
}

main {
  max-width: 40rem;
}

article>h1 em {
  font-weight: normal;
}

a:link {
  color: var(--accent);
}

a:visited {
  color: var(--visited);
}

mark {
  background: unset;
  color: var(--dim);
  font-family: var(--mono);
  font-size: var(--txt-sm);
}

h1, h2, h3, h4, h5, h6, p, ul, blockquote, pre {
  margin: 1rem;
}

ul {
  padding-left: 2rem;
}

li::marker {
  content: '\2022  ';
  color: var(--dim);
  font-size: 1rem;
  line-height: 1;
}

blockquote {
  margin-left: 2rem;
  margin-right: 2rem;
  border-left: 1px solid var(--dim);
}

hr {
  margin: 2rem 1rem;
  color: var(--dim);
  border: none;
}

hr:before {
  content: '> --- <break:';
  font-family: var(--mono);
  font-size: var(--txt-sm);
}