:root {
  color-scheme: light dark;

  --base: mintcream;

  --bg-l: color-mix(in srgb, var(--base), black 6%);
  --bg-d: color-mix(in srgb, black, var(--base) 6%);
  --bg: light-dark(var(--bg-l), var(--bg-d));

  --fg-l: color-mix(in srgb, var(--bg-d), var(--bg-l) 6%);
  --fg-d: color-mix(in srgb, var(--bg-l), var(--bg-d) 8%);
  --fg: light-dark(var(--fg-l), var(--fg-d));

  --soft-l: color-mix(in srgb, var(--fg), var(--base) 48%);
  --soft-d: color-mix(in srgb, var(--bg), var(--base) 68%);
  --soft: light-dark(var(--soft-l), var(--soft-d));

  --light-l: color-mix(in srgb, var(--fg), var(--base) 53%);
  --light-d: color-mix(in srgb, var(--bg), var(--base) 68%);
  --light: light-dark(var(--light-l), var(--light-d));

  --dim-l: color-mix(in srgb, var(--fg), var(--base) 58%);
  --dim-d: color-mix(in srgb, var(--bg), var(--base) 53%);
  --dim: light-dark(var(--dim-l), var(--dim-d));

  --mute-l: color-mix(in srgb, var(--fg), var(--base) 8%);
  --mute-d: color-mix(in srgb, var(--bg), var(--base) 8%);
  --mute: light-dark(var(--mute-l), var(--mute-d));

  --accent: var(--dim);
  --visited: var(--fg);

  --txt-sm: 0.88rem;

  --sans: ia-writer-quattro, sans-serif;
  --mono: ia-writer-mono, monospace;
}

* {
  font-size: inherit;
  font-family: inherit;
}

html {
  font-size: 17px;
  font-family: var(--sans);
  background: var(--bg);
  color: var(--fg);
  line-height: 1.5;
}

body {
  margin: unset;
}

header, footer {
  margin: 1rem;
  font-size: var(--txt-sm);
  font-family: var(--mono);
  color: var(--dim);
}

header:before {
  content: '<location: ';
  color: var(--dim);
}

header a:link, a:visited {
  color: var(--dim);
}

header a:hover {
  color: var(--fg);
}

footer:before {
  content: '> <footer:';
  font-family: var(--mono);
  color: var(--dim);
}

footer:after {
  content: '>';
  color: var(--dim);
}

article>h1 em {
  font-weight: normal;
}

a:link {
  color: var(--dim);
}

a:visited {
  color: var(--fg);
}

a:hover {
  color: var(--light);
}

code {
  font-family: var(--mono);
  font-size: var(--txt-sm);
  /* background: var(--mute); */
  color: var(--soft);
}

mark {
  background: unset;
  color: var(--light);
  font-family: var(--mono);
  font-size: var(--txt-sm);
}

h1, h2, h3, h4, h5, h6, p, ul, blockquote, pre {
  margin: 1rem;
  max-width: 30rem;
}

ul {
  padding-left: 2rem;
}

li {
  list-style: '- ';
}

li::marker {
  color: var(--dim);
  font-size: 1rem;
  line-height: 1;
}

blockquote {
  border-left: 1px solid var(--dim);
}

hr {
  margin: 2rem 1rem;
  color: var(--dim);
  border: none;
}

hr:before {
  content: '> --- <section:';
  font-family: var(--mono);
  font-size: var(--txt-sm);
}