:root {
  --lh: 1.5rem;
  --sp: 1rem;
  --sst: 0.3rem;
  --hst: 0.22rem;
}

html {
  font-size: 100%;
  line-height: var(--lh);
}

p {
  line-height: var(--lh);
  margin-top: var(--sp);
  margin-bottom: var(--sp);
}

ul,
ol {
  margin-top: var(--sp);
  margin-bottom: var(--sp);
}

ul li,
ol li {
  line-height: var(--lh);
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--lh);
  margin-top: var(--sp);
  margin-bottom: var(--sp);
}

h1 {
  font-size: calc(calc(var(--sst) * 3.2) + 1rem);
  line-height: calc(calc(var(--hst) * 3.2) + var(--lh));
  margin-top: 3rem;
}

h2 {
  font-size: calc(calc(var(--sst) * 1.6) + 1rem);
  line-height: calc(calc(var(--hst) * 1.6) + var(--lh));
  margin-top: 3rem;
}

h3 {
  font-size: calc(var(--sst) + 1rem);
  line-height: calc(var(--hst) + var(--lh));
  margin-top: 2rem;
}

h4 {
  font-size: calc(calc(var(--sst) * 0.4) + 1rem);
  line-height: calc(calc(var(--hst) * 0.4) + var(--lh));
}

h5 {
  font-size: calc(1rem - calc(var(--sst) * 0.4));
  line-height: calc(var(--lh) - calc(var(--hst) * 0.4));
  text-transform: uppercase;
}

h6 {
  font-size: calc(1rem - calc(var(--sst) * 0.8));
  line-height: calc(var(--lh) - calc(var(--hst) * 0.8));
  text-transform: uppercase;
}

hr {
  margin-top: calc(var(--sp) * 1.12);
  margin-bottom: calc(var(--sp) * 1.12);
}

table {
  margin-top: var(--sp);
  margin-bottom: var(--sp);
  border-spacing: 0px;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0;
  line-height: var(--lh);
}

code {
  vertical-align: bottom;
}

.lead {
  font-size: calc(var(--sst) + 1rem);
  line-height: calc(var(--hst) + var(--lh));
}

.hug {
  margin-top: 0;
}