<link
  id="fa-stylesheet"
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css"
/>

<footer>
  <data value="{{ '/' | relative_url }}"></data>

  <div>
    <div>
      <div>
        {%- if site.author %}
        <ul>
          {% if site.author.name -%}
          <li>{{ site.author.name | escape }}</li>
          {% endif -%} {% if site.author.email -%}
          <li>
            <a href="mailto:{{ site.author.email }}">
              {{ site.author.email }}</a
            >
          </li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>
      <div>
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
